<div class="card">
    <div style="height: 10rem;"><img [src]="image.url ? image.url : '../../../../assets/images/no-profile.jpeg'" class="card-img-top" alt="..."></div>
    
    <div class="card-body text-center">
        <i class="fas fa-user-circle"></i>
        <p class="card-text">{{user.knownAs | slice:0:20}} </p>
        <p style="max-height:1rem;" class="text-muted">{{user.country | slice:0:20}}</p>
    </div>
    <div class="buttonsDiv d-flex">
        <button class="iconButton" routerLink="/user-detail/{{user.username}}"><i class="userIcon fas fa-house-user fa-2x" ></i></button>
        <button class="iconButton" (click)="likeUser(user)" ><i class="userIcon"  [ngClass]="{'fas fa-heart fa-2x': liked }" [ngClass]="{'far fa-heart fa-2x': liked == false}" ></i></button>
        <button class="iconButton"><i class="userIcon fas fa-envelope fa-2x"></i></button>
    </div>
</div>