<img [src]="profileImagePath?.url ? profileImagePath.url : '../../../../assets/images/no-profile.jpeg' " class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">{{user.knownAs}} </h5>
</div>
<ul class="list-group list-group-flush" *ngIf="usersHelper.checkGenderIsMale(user.gender)">
    <label class="bg-info">Location</label>
    <li class="list-group-item">{{user.country}} , {{user.city}}</li>
    <label class="bg-info">Age</label>
    <li class="list-group-item">{{user.age}}</li>
    <label class="bg-info">Last Active</label>
    <li class="list-group-item">{{user.lastActive | timeago}} </li>
    <label class="bg-info">Member since</label>
    <li class="list-group-item">{{user.created | timeago}} </li>
</ul>
<ul class="list-group list-group-flush" *ngIf="!usersHelper.checkGenderIsMale(user.gender)">
    <label class="bg-danger">Location</label>
    <li class="list-group-item">{{user.country}} , {{user.city}}</li>
    <label class="bg-danger">Age</label>
    <li class="list-group-item">{{user.age}}</li>
    <label class="bg-danger">Last Active</label>
    <li class="list-group-item">{{user.lastActive | timeago}} </li>
    <label class="bg-danger">Member since</label>
    <li class="list-group-item">{{user.created | timeago}} </li>
</ul>