<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="d-flex justify-content-center">
                <div class="card text-white bg-info mb-3" style="max-width: 60rem;margin-left: 6rem;">
                    <div class="card-header text-center">
                        <h3>Start to do friendships with <span class="text-warning">Fellowship</span> !</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <img src="../../assets//images/besties.jpg" /> <img
                                src="../../assets//images/bromance.jpg" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <h4>Be friends</h4>
                        </div>

                        <div class="d-flex justify-content-center">
                            <img src="../../assets//images/Dating.jpg" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <h4>Or life friends forever !</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="registerDiv  d-flex flex-column align-items-center">
                <button class="btn btn-outline-dark btn-sm mb-2" [routerLink]="['/register']" >Register</button>
                <i class="fas fa-hand-pointer fa-3x text-info"></i>
            </div>
        </div>



    </div>
</div>

