<div class="carousel" [style.width]="width+'rem'" [style.height]="height+'rem'" >
  <ngb-carousel #carousel [interval]="1500" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    <ng-container *ngFor="let img of images; index as i" >
      <ng-template ngbSlide *ngIf="!isSelectedImage">
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
            <img [src]="img.url" alt="My image {{i + 1}} description" [style.width]="width +'rem'"
              [style.height]="height + 'rem'">
          </div>
        </a>
      </ng-template>
    </ng-container>
    <ng-template ngbSlide *ngIf="isSelectedImage">
      <a href="" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="selectedImage.url" [style.width]="width +'rem'" [style.height]="height + 'rem'">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>