<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <app-user-detail-sidebar [user]="user" [profileImagePath]="profileImagePath"></app-user-detail-sidebar>
                <div class="card-body d-flex justify-content-center">
                    <button class="btn btn-success" form="editForm" ><i class="fas fa-save"></i> Save
                        changes</button>
                </div>
            </div>
        </div>
        <div class="col-8 editSide">
            <div class="alert alert-warning" *ngIf="editForm.dirty">You have made changes <i
                    class="fas fa-exclamation-circle fa-lg"></i></div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                        type="button" role="tab" aria-controls="about" aria-selected="true">About {{user.knownAs}}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
                        role="tab" aria-controls="photos" aria-selected="false">Photos</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                        <div class="form-group">
                            <h5>Known as</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="knownAs" rows="2"
                                [(ngModel)]="user.knownAs"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Introduction</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="introduction" rows="7"
                                [(ngModel)]="user.introduction"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Looking for</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="lookingFor" rows="7"
                                [(ngModel)]="user.lookingFor"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Interests</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="interests" rows="5"
                                [(ngModel)]="user.interests"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>City</h5>
                            <input class="form-control form-control-sm" type="text" name="city" [(ngModel)]="user.city">
                            <h5>Country</h5>
                            <input class="form-control form-control-sm" type="text" name=country
                                [(ngModel)]="user.country">
                        </div>
                    </form>
                </div>


                <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                    <div class="d-flex justify-content-center flex-wrap">
                        <div class="row">
                            <div class="col-9">
                                <app-image-carousel [images]="images" [height]=25 [width]=35 ></app-image-carousel>
                            </div>
                            <div class="col-3">
                                <h3 class="text-info mb-4">Upload Images</h3>
                                <input id="imagesInput" multiple type="file" accept=".png, .jpg, .jpeg" class="form-control" (change)="upload($event)">
                                <button class="btn btn-sm btn-success mt-4" (click)="setProfilePhoto()" >Set as profile photo</button>
                                <div>
                                     <button class="btn btn-sm btn-danger btnDelete mt-2" (click)="deletePhotos()" >Delete photos</button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mt-2">
                        <div class="imageDiv d-flex justify-content-center flex-column" *ngFor="let image of images">
                            <app-small-image #smallImage [image]="image" (click)="setSelectedImage(smallImage,image)" ></app-small-image>                           
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>