<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{profileImagePath}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.knownAs}} </h5>
                </div>
                <ul class="list-group list-group-flush" *ngIf="checkGenderIsMale(user.gender)">
                    <label class="bg-info">Location</label>
                    <li class="list-group-item">{{user.country}} , {{user.city}}</li>
                    <label class="bg-info">Age</label>
                    <li class="list-group-item">{{user.age}}</li>
                    <label class="bg-info">Last Active</label>
                    <li class="list-group-item">{{user.lastActive | date : 'medium'}} </li>
                    <label class="bg-info">Member since</label>
                    <li class="list-group-item">{{user.created | date : 'medium'}} </li>
                </ul>
                <ul class="list-group list-group-flush" *ngIf="!checkGenderIsMale(user.gender)">
                    <label class="bg-danger">Location</label>
                    <li class="list-group-item">{{user.country}} , {{user.city}}</li>
                    <label class="bg-danger">Age</label>
                    <li class="list-group-item">{{user.age}}</li>
                    <label class="bg-danger">Last Active</label>
                    <li class="list-group-item">{{user.lastActive | date : 'medium'}} </li>
                    <label class="bg-danger">Member since</label>
                    <li class="list-group-item">{{user.created | date : 'medium'}} </li>
                </ul>
                <div class="card-body text-center">
                    <button class="btn btn-success" form="editForm" ><i class="fas fa-save"></i> Save
                        changes</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="alert alert-warning" *ngIf="editForm.dirty">You have made changes <i class="fas fa-exclamation-circle fa-lg"></i></div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                        type="button" role="tab" aria-controls="about" aria-selected="true">About {{user.knownAs}}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button"
                        role="tab" aria-controls="photos" aria-selected="false">Photos</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                        <div class="form-group">
                            <h5>Known as</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="knownAs" rows="2"
                                [(ngModel)]="user.knownAs"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Introduction</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="introduction" rows="7"
                                [(ngModel)]="user.introduction"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Looking for</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="lookingFor" rows="7"
                                [(ngModel)]="user.lookingFor"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>Interests</h5>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="interests" rows="5"
                                [(ngModel)]="user.interests"></textarea>
                        </div>
                        <div class="form-group">
                            <h5>City</h5>
                            <input class="form-control form-control-sm" type="text" name="city" [(ngModel)]="user.city">
                            <h5>Country</h5>
                            <input class="form-control form-control-sm" type="text" name=country [(ngModel)]="user.country">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
                        edit photos
                    </div>
                </form>


            </div>

        </div>
    </div>

</div>